footer {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: 1px solid #3c3c3c;
  outline: none;
  background-color: #0f0f0f;
color: #a7a7a7;
font-size: 16px;

margin-top: 60px;}
  
  .row {
    padding: 1em 1em;
    color: white;
background: black;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    margin-bottom: 30px;
    margin: auto;
    margin-top: auto;
   margin-top: 0;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  .column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  .column ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    
      line-height: 2;
      margin: 0;
        margin-right: 40px;
      
  }

  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
    .column {
margin: 0%;
margin-bottom: 20px;

    }
  
  }